* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 4rem;
}

.main-border {
  border: 1px rgb(226, 214, 214) solid;
}

@media (max-width: 650px) {
  body {
    padding: 1rem;
  }
}
